
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

@media (max-width: 1760px) {
  html { font-size: 15px; }
}

/* @media (max-width: 1024px) {
  html { font-size: 14px; }
} */

@media (max-width: 768px) {
  html { font-size: 14px; }
}

@layer components {

    .titulos {
      @apply absolute top-20 max-md:top-28 uppercase tracking-[1.5rem] text-gray-500 text-xl
    }

    .heroButton {
        @apply px-6 py-2 border border-[#242424] rounded-full uppercase text-base tracking-widest text-gray-500 transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40
    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b text-xs p-3 max-md:py-5 border-[#242424] text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
    }

    .barradesplazadora:before {
        @apply bg-zinc-800 content-['\2194'] text-[10px] h-[100%] leading-[150px] absolute top-0 right-0 text-white
    }


}